
.text-center {
  text-align: center;
}

.custom-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
}

.gradient {
  background-image: url(./background.jpg);
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.15);
  width: 100%;
}

.my-text-biggest {
  font-family: Calibri;
  font-size: 60px;
  color: rgb(194, 193, 193);
  -webkit-text-stroke-width: 1px;
}

.my-text-big {
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.my-text-smaller-padding {
  color: rgb(255, 255, 255);
  padding: 10px;
}
.my-text-smaller {
  color: rgb(255, 255, 255);
}

.tile{
  flex: 0px;
}

@keyframes pop {
  50%  {
    transform: scale(1.25);
  }
}

.styled-table thead tr {
  background-color: linear-gradient(to left, red, rgb(246, 255, 0));;
  color: #b0b0b0;
  text-align: left;
}

.padding {
  padding: 3px;
}

.color {
  color: #ffffff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2f2f2f;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #ffffff;
}

.h-screen {
  height: 100vh;
}

.Home-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Home-link {
  color: #ffffff;
}

.bt2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.styled-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}